


    

        
            
        <div class="row">
           <div class="col-6">
            <div class="">
                <img src="/uploads/<%- product.image %>" class="img-fluid" alt="">
            </div>
             <div class="image-desc">
                <h1> <%= name %> </h1>
            </div>
           </div>
            
          <div class="col-6">
            
               <p class="h-3 mt-3">Opis Produktu</p>
              <p><%= product.description %></p>
              <p class="h-3 mt-3 mb-4">Kontakt: <%= product.user?.email %></p>
              <p class="h-3 mb-4">TEL: <%= product.user?.telephone %></p>
              <p class="h-3 mb-4"><a href="https://<%= product.user?.webSite %>"><%= product.user?.webSite %></a></p>
          </div>
        </div>




